@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<h2>Kategori Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(k => k.ID)
                    @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(k => k.AD)
                    @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-success">Güncelle</button>
                </div>
               
               
            }

