@model MvcKutuphane.Models.Entity.TBLYAZAR
@{
    ViewBag.Title = "YazarGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<br />
@using (Html.BeginForm("YazarGuncelle", "Yazar", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Yazar ID</label>
                    @Html.TextBoxFor(y => y.ID, new { @class = "form-control" })
                    <br />
                    <label>Yazar Ad</label>
                    @Html.TextBoxFor(y => y.AD, new { @class = "form-control" })
                    <br />
                    <label>Yazar Soyadı</label>
                    @Html.TextBoxFor(y => y.SOYAD, new { @class = "form-control" })
                    <br />
                    <label>Yazar Detay</label>
                    @Html.TextAreaFor(y => y.DETAY, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-success">Güncelle</button>
                </div>
            }

