@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<h2>Personel Listesi</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Personel Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var personel in Model)
    {
        <tr>
            <td>@personel.ID</td>
            <td>@personel.PERSONEL</td>
            <td><a class="btn btn-danger" href="/Personel/PersonelSil/@personel.ID">Sil</a></td>
            <td><a class="btn btn-success" href="/Personel/PersonelGetir/@personel.ID">Güncelle</a></td>

        </tr>
    }
</table>
<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>

